* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #222222;
  margin-bottom: 8px;
  padding: 15px 12px;
}



.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  /* single row */
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.view-button {
  margin-top: 10px;
  padding: 8px 12px;
}